{%include 'header.html'%}
<script>
  // Classes
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // Usage as mixins
  .element {
    .center-block();
  }
</script>
<div class="container center-block">
  <p class="lead">csrgxtu.com is a site that enables Google Search service available to the countries which were blocked, we an't mean to validate Google's privacy, just want to open a door to Programmers, Students and Researchers etc...</p>
</div>
{%include 'footer.html'%}